/* content reach edge of window, set margin & padding fo body and html
elements to zero and set color */
/* reference: http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ */
body,
html {
margin:0;
padding:0;
color:#000;
background:#ffffff;
}

/* give content width and center it horizontally. specify width
and margins of main container, #wrap */
#wrap {
width:auto;
height: 500px;
background:0;
}


/* COLORS */
#header { /* header */
background:#3399ff;
}
#nav {	/* nav bar */
background:#0073e6;
}
#main {	/* left column */
background:#b3d9ff;
}
#sidebar {	/* right column */
background:#ff944d;
}
#footer { /* footer */
background:#ffdb4d;
}

/* float columns to place them side by side. set width */
#main {
float:left;
width:500px;
background:#b3d9ff;
}
#sidebar {
float:right;
width:600px;
background:#ff944d;
}

/* push footer down to bottom of content */
#footer {
clear:both;
background:#ffdb4d;
}

/*make shorter column appear like it goes down to the footer with color */
#sidebar {
float:right;
width:600px;
background:#ff944d;
}

/* make nav bar horizontal*/
#nav ul {
margin:0;
padding:0;
list-style:none;
}
#nav li {
display:inline;
margin:0;
padding:0;
}

/* adjust margin and padding to make layout less cramped */
#header {  		
padding:5px 10px;
background:#3399ff;
}
h1 {
margin:0;
}
#nav { 			
padding:5px 10px;
background:#0073e6;
}
#main { 		
float:left;
width:480px;
padding:0px;
background:#b3d9ff;
}
h2 {
margin:0 0 1em;
}
#sidebar { 		
float:right;
width:600px;
padding:0px;
background:#ff944d;
}
#footer {
clear:both;
padding:5px 10px;
background:#ffdb4d;
}
#footer p {
margin:0;
}

/* footer height */
* html #footer {
height:1px;
}





/*comment form css -- main.css */
#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}